[submodule "gallon-admin"]
	path = gallon-admin
	url = git@github.com:lapillaga/gallon-admin.git
[submodule "gallon_backend"]
	path = gallon_backend
	url = git@github.com:lapillaga/gallon_backend.git
[submodule "gallon-traefik"]
	path = gallon-traefik
	url = git@github.com:lapillaga/gallon-traefik.git
